# Ignore database files
*.sqlite3

# Ignore Python bytecode
__pycache__/

# Ignore environment files
.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore static files collected by Django
staticfiles/

# Ignore user-specific settings
*.DS_Store

.env